<h2>Books</h2>

<input
    type="text"
    placeholder="Search books..."
    [(ngModel)]="searchText">

<br><br>

<label><strong>Author:</strong></label>

<select [(ngModel)]="selectedAuthor">

    @for(author of authors; track author){

        <option [value]="author">
            {{ author }}
        </option>

    }

</select>

&nbsp;&nbsp;

<label><strong>Genre:</strong></label>

<select [(ngModel)]="selectedGenre">

    @for(genre of genres; track genre){

        <option [value]="genre">
            {{ genre }}
        </option>

    }

</select>

<p>Total books: {{ filteredBooks().length }}</p>

<div
    class="book-card"
    *ngFor="let book of filteredBooks()">

    <img
        *ngIf="book.coverImage"
        [src]="book.coverImage"
        [alt]="book.title"
        class="book-cover">

    <div class="book-content">

        <h2>{{ book.title }}</h2>

        <p class="author">
            {{ book.author }}
        </p>

        <div class="genre-list">

            @if(book.genre.length){

                @for(genre of book.genre; track genre){

                    <span class="genre-badge">

                        {{ genre }}

                    </span>

                }

            }

        </div>

        <h4>Synopsis</h4>

        <p class="description">

            {{ book.description }}

        </p>

        <div class="book-footer">

            <span class="price">

                ₱{{ book.price }}

            </span>

            <span class="stock">

                Stock: {{ book.stock }}

            </span>

        </div>

        <div class="button-group">

            <button
                class="edit-btn"
                [routerLink]="['/edit-book', book._id]">

                ✏️ Edit

            </button>

            <button
                class="delete-btn"
                (click)="deleteBook(book._id)">

                🗑️ Delete

            </button>

        </div>

    </div>

</div>

<br>

<button routerLink="/add-book">
    ➕ Add New Book
</button>